html.editor,
html.editor body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html.editor #viewpane {
	border: none;
	width: 100%;
	height: 100%;
}

h5 {
	font-size: 1.6rem;
	margin: .6rem 0 .4rem 0;
}

h6 {
	font-size: 1.4rem;
	margin: .8rem 0 .4rem 0;
}

#editor {
	background-color: #fff;
	position: absolute;
	margin-top: 1rem;
	width: 70%;
	height: 80%;
	left: 15%;
	top: 100%;
	transition: 500ms top;
	z-index: 20000;
}

#editor.open {
	top: 10%;
}

#editor > * {
	padding: 1rem;
	box-sizing: border-box;
}

#editor header {
	height: 80px;
	border-bottom: solid 1px #eee;
}

#editor footer {
	height: 70px;
	text-align: right;
}

#editor .views {
	height: calc(100% - 150px);
	position: relative;
	overflow: hidden;
}

#editor .view {
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 1rem;
	z-index: 5;
}

#editor .view.active {
	z-index: 10;
}

#editor .module {
	border: solid 1px #eee;
	text-align: center;
	padding: 1rem;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

#editor .module:hover,
#editor .module.selected {
	background-color: rgba(234,156,18,.1);
}
