html,
body {
	height: 100%;
	font-family: sans-serif;
}

nav {
	background-color: #333;
	color: #eee;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: none !important;
}

a[class^=button-] {
	color: #fff;
}

nav a {
	width: 100%;
	height: 100%;
	display: block;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 100%;
}

nav li {
	display: inline-block;
	height: calc(32px + 1em + 2.5rem);
	text-align: center;
	padding: 1rem;
	margin: 0;
}

nav.components {
	background-color: #2d477b;
	padding: .5rem 0 !important;
}

nav.tools,
[role=main] {
	height: calc(100% - 32px - 1em - 3.5rem);
}

nav.tools {
	padding: 0 !important;
}

nav.tools li {
	width: 100%;
}

nav.tools li[data-active] {
	background-color: #fff;
	color: #222;
}

li .icon:before {
	display: block;
	font-size: 32px;
	margin-bottom: .5rem;
}

.logo {
	background-image: url('/assets/cms/images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 88px;
	text-indent: -500px;
	overflow: hidden;
}

.content .icon:before {
	content: '\e923\A';
}

.pages .icon:before {
	content: '\e925\A';
}

.partials .icon:before {
	content: '\ea72\A';
}

.layouts .icon:before {
	content: '\e94c\A';
}

.modules .icon:before {
	content: '\ea58\A';
}

.entities .icon:before {
	content: '\e976\A';
}

.people .icon:before {
	content: '\e972\A';
}

.organizations .icon:before {
	content: '\e903\A';
}

[role=main] {
	overflow-y: auto;
	position: relative;
}

form > .actions {
	background-color: rgba(255,255,255,.90);
	padding: 1rem 0;
	margin-bottom: 1rem;
	position: sticky;
	top: 0;
}

td.actions a,
td.actions a:before {
	font-size: 28px;
	line-height: 28px;
	height: 28px;
	display: block;
	overflow: hidden;
}

table.entities th:first-child,
table.entities td:first-child {
	width: 40px;
	text-align: center;
}

table.entities th:last-child,
table.entities td:last-child {
	min-width: 25%;
	text-align: center;
}

a[class^="icon"]:before,
a[class*=" icon"]:before,
span[class^="icon"]:before,
span[class*=" icon"]:before {
	margin-right: .5rem;
	margin-left: .5rem;
}

@media (max-width: 640px) {
	[role=main] {
		max-width: 95%;
		margin: 0 2.5%;
	}
}
